.error404 {
  .hfeed {
    margin: 0 auto;
    padding: 2.5%;
    @include desktop {
      max-width: 1080px;
    }
    .container {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      width: 100%;
      .fa-quote-left {
        display: none;
        @include desktop {
          display: block;
          @include quote-style(left);
        }
      }
      .search-form {
        fieldset {
          border: none;
          .search-field {
            border: 1px solid, #0c0;
            &:focus {
              border: 1px solid, white;
            }
          }
          .search-submit {
            border: none;
            background: transparent;
            box-shadow: none;
            color: #0c0;
          }
        }
      }
      .fa-quote-right {
        display: none;
        @include desktop {
          display: block;
          @include quote-style(right);
        }
      }
    }
  }
}
