.page-id-210 {
  .hfeed {
    margin: 0 auto;
    padding: 2.5%;
    @include desktop {
      max-width: 1080px;
    }
    .container {
      margin-top: 3rem;
      @include desktop {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .fa-quote-left {
        display: none;
        @include desktop {
          display: block;
          @include quote-style(left);
        }
      }
      article {
        color: white;
        margin-left: 2%;
        @include desktop {
          width: 70%;
        }
        .entry-content {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
      .fa-quote-right {
        display: none;
        @include desktop {
          display: block;
          @include quote-style(right);
        }
      }
    }
  }
}
