.page-id-210 {
  background: black;
  .hfeed {
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.5%;
    // width: 100%;
    .site-content {
      .site-main {
        .container {
          margin-top: 3rem;
          display: flex;
          justify-content: center;
          width: 100%;
          .fa-quote-left {
            color: #0c0;
            font-size: 8rem;
            width: 15%;
            text-align: left;
          }
          article {
            width: 70%;
            color: white;

            .entry-content {
              font-size: 1rem;
              line-height: 1.5;
            }
            .entry-meta h2 {
              text-align: left;
              font-size: 1.25rem;
              font-weight: 400;
              margin-bottom: 0;
            }
          }
          .fa-quote-right {
            color: #0c0;
            font-size: 8rem;
            width: 15%;
            text-align: right;
          }
        }
      }
    }
  }
}
