.site-footer {
  display: block;
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4.5rem 0 3rem;
    @include desktop {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin: 4.5rem 0 3rem;
    }
    .footer-txt {
      margin: 0;
    }
    .menu-menu-1-container {
      @include tablet {
        width: 42%;
      }
      @include desktop {
        width: 30%;
      }
      .nav-menu {
        display: inline-flex;
        list-style: none;
        margin: 1rem 0;
        padding: 0;
        li {
          border-right: 1px solid #fff;
          line-height: 1;
          padding: 0 0.9rem;

          // a {
          //   color: #0c0;
          // }
        }
        :first-child {
          padding-left: 0;
        }
      }
    }
    .footer-txt {
      display: inline-block;
      line-height: 1;
      @include desktop {
        width: 22%;
      }
      a {
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
}
