.page-id-5 {
  .hfeed {
    margin: 0 auto;
    padding: 2.5%;
    @include desktop {
      max-width: 1080px;
    }

    .container {
      margin-top: 3rem;
      display: flex;

      width: 100%;
      @include desktop {
        justify-content: center;
      }
      .fa-quote-left {
        display: none;
        @include desktop {
          display: block;
          @include quote-style(left);
        }
      }
      .quote-submission {
        @include desktop {
          width: 60%;
        }
        form {
          display: flex;
          flex-direction: column;
          div {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            color: white;
            #quote-author {
              width: 30%;
            }
            input {
              width: 40%;
              border-color: #0c0;
            }
            textarea {
              border-color: #0c0;
            }
          }
        }
      }

      .fa-quote-right {
        display: none;
        @include desktop {
          display: block;
          @include quote-style(right);
        }
      }
    }
  }
}
